- model_class = Reimbursement
= content_for :page_header, t('.title', :default => model_class.model_name.human(count: 2))

.navbar
  .navbar-inner
    - collection
    = search_form_for @q, :class => "navbar-form pull-right" do |f|
      = f.collection_select :request_event_id_eq, Event.all, :id, :name, {:include_blank => true}, :class => "input-large"
      = f.select :state_eq, reimbursement_states_collection, {:include_blank => true}, :class => "input-medium"
      = f.submit t(:search), :class => "btn"
      = link_to t(:reset_search), reimbursements_path, :class => "btn"

%table.table.table-striped
  %thead
    %tr
      %th= sort_link(@q, :id)
      %th= model_class.human_attribute_name(:user)
      %th= model_class.human_attribute_name(:event)
      %th= model_class.human_attribute_name(:approved_sum)
      %th= model_class.human_attribute_name(:total_sum)
      %th= model_class.human_attribute_name(:authorized_sum)
      %th= sort_link(@q, :state)
  %tbody
    - collection.each do |reimb|
      %tr
        %td= link_to "##{reimb.id}", request_reimbursement_path(reimb.request)
        %td= reimb.user.try(:title)
        %td= reimb.event.try(:name)
        %td= expenses_sum(reimb, :approved)
        %td= expenses_sum(reimb, :total)
        %td= expenses_sum(reimb, :authorized)
        %td= timestamped_state(reimb)
  %tfoot
    - if @all_reimbursements.size > @reimbursements.size
      %tr
        %td
        %td
        %th.text-right= t(:page_total)
        %td= expenses_sum(@all_reimbursements, :approved)
        %td= expenses_sum(@all_reimbursements, :total)
        %td= expenses_sum(@all_reimbursements, :authorized)
        %td
    %tr
      %td
      %td
      %th.text-right= t(:full_total)
      %td= expenses_sum(@reimbursements, :approved)
      %td= expenses_sum(@reimbursements, :total)
      %td= expenses_sum(@reimbursements, :authorized)
      %td

= paginate collection
