.col-md-10
  %h2 Email the participants of #{@event.name}
  .dropdown.pull-right
    %button#select_recp.btn.btn-default.dropdown-toggle{"aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
      Select recipients
      %span.caret
    %ul.dropdown-menu{"aria-labelledby" => "select_recp"}
      %li
        %a{:onclick => "user_email(#{users_for_event('all')})"} All
      %li
        %a{:onclick => "user_email(#{users_for_event('accepted')})"} Accepted
      %li
        %a{:onclick => "user_email(#{users_for_event('incomplete')})"} Incomplete
      %li
        %a{:onclick => "user_email(#{users_for_event('submitted')})"} Submitted
      %li
        %a{:onclick => "user_email(#{users_for_event('approved')})"} Approved
      %li
        %a{:onclick => "user_email(#{users_for_event('canceled')})"} Cancel
  %br
  = simple_form_for(resource, url: event_event_emails_path) do |f|
    = f.input :to, as: :text,readonly: true, input_html: {rows: 1}
    = f.input :subject
    = f.input :body, as: :text, input_html: {rows: 12}
    .pull-right
      = f.button :submit, 'Send', class: 'btn btn-primary', data: { disable_with: "Please wait..." }
      = link_to 'Cancel', event_event_emails_path(@event) , class: 'btn btn-default'

:javascript
  function user_email(users){
    var recip = document.getElementById('event_email_to');
    recip.value = users
  }
