.col-md-10
  %h2 Email the participants of #{@event.name}
  .dropdown.pull-right
    %button#select_recp.btn.btn-default.dropdown-toggle{"aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button", "data-users" => "#{users_for_event('all').empty?}"}
      Select recipients
      %span.caret
    %ul.dropdown-menu{"aria-labelledby" => "select_recp"}
      - %w[All Accepted Incomplete Submitted Approved Cancel].each do |s|
        %li
          %a{id: 'state' + s, "data-users" => users_for_event(s.downcase) } #{s}
  %br
  = simple_form_for(resource, url: event_event_emails_path) do |f|
    = f.input :to, as: :text,readonly: true,placeholder: 'Select the recipients', input_html: {rows: 1}
    = f.input :subject
    = f.input :body, as: :text, hint: 'This field supports markdown', input_html: {rows: 12}
    %a{:href => "https://daringfireball.net/projects/markdown/syntax"}
      View Markdown Syntax
    .pull-right
      = f.button :submit, 'Send', class: 'btn btn-primary', data: { disable_with: "Please wait..." }
      = link_to 'Cancel', event_event_emails_path(@event) , class: 'btn btn-default'
