= content_for :page_header, current_user.nickname
= render 'user_profiles/profile_menu'
= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => 'form-horizontal' }) do |f|
  = f.input :nickname, :required => true, :autofocus => true
  = f.input :email, :required => true
  = f.input :locale, :collection => I18n.available_locales, :required => true, :include_blank => false
  .form-actions
    = f.button :submit, :class => 'btn-primary'
