= content_for :page_header do
  %h1= current_user.nickname
= render 'user_profiles/profile_menu'
%br
= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => 'form-horizontal' }, wrapper: :horizontal_form) do |f|
  .col-md-4
    = f.input :nickname, :required => true, :autofocus => true
    = f.input :email, :required => true
    = f.input :locale, :collection => I18n.available_locales, :include_blank => false
  .well.col-md-12
    = f.button :submit, :class => 'btn btn-primary col-md-offset-1'
