= content_for :page_header do
  %h1= t(:sign_up)

= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => 'form-horizontal'}, wrapper: :horizontal_form) do |f|
  .col-md-4
    = f.error_notification
    = f.input :nickname, :required => true, :autofocus => true
    = f.input :email, :required => true
    = f.input :password, :required => true
    = f.input :password_confirmation, :required => true
    = f.input :locale, :as => :hidden, :input_html => { :value => I18n.locale }
  .well.col-md-12
    = f.button :submit, t(:sign_up), :class => 'btn btn-primary col-md-offset-1'
.col-md-4
  = render :partial => "devise/shared/links"
