%li
  = t(:state_change_title_line, :date => l(state_change.created_at, :format => :short), :event => state_change.human_action_name, :user => state_change.user.nickname)
  %blockquote
    = t(:state_change_details, :from => t("activerecord.state_machines.states.#{state_change.from}"), :to => t("activerecord.state_machines.states.#{state_change.to}"))
    %br
    = "#{StateChange.human_attribute_name(:notes)}: "
    = state_change.notes
