.modal-dialog{:role => "document"}
  .modal-content
    .modal-header
      %button.close{:type => "button", :data => {:dismiss => "modal"}} &times;
      %h3= t(:create_comment)

    = bootstrap_flash_messages

    =simple_form_for(@comment, :url => @back_path + "/comments", :remote => true, html: { class: 'form-horizontal form-inputs' }, wrapper: :horizontal_form) do |f|
      .modal-body
        - if @parent.class.allow_private_comments?(current_role)
          .row.col-md-offset-2
            = f.input :private, hint: @parent.class.private_comment_hint
        .row
          = f.text_area :body, :rows => 2, :class => "col-md-8 input-lg col-md-offset-2"
      .modal-footer
        = link_to t("helpers.links.back"), "#", :data => {:dismiss => "modal"}, :class => 'btn btn-default'
        = f.button :submit, :class => 'btn btn-primary'
