.modal-header
  %button.close{:type => "button", :data => {:dismiss => "modal"}} &times;
  %h3= t(:create_comment)
= bootstrap_flash_messages
= simple_form_for @comment, :url => @back_path + "/comments", :remote => true do |f|
  .form-inputs.form-horizontal.modal-body
    - if Comment.private_role? current_role, @parent.class
      .row-fluid
        = f.input :private, hint: Comment.private_hint(@parent.class)
    .row-fluid
      = f.text_area :body, :rows => 2, :class => "span12"

  .modal-footer
    = link_to t("helpers.links.back"), "#", :data => {:dismiss => "modal"}, :class => 'btn'
    = f.button :submit, :class => 'btn-primary'
