<p>
<%= t(:machine_in_state,
            :machine => @machine.title,
            :state => @state_name,
            :description => @machine.human_state_description,
            :date => (l(@updated_at) rescue "...")) %>
</p>

<p><%= @machine.human_state_guide %></p>

<% if @change %>
  <p>
  <%= t(:state_change_title_line, :date => l(@change.created_at, :format => :short), :event => @change.human_action_name, :user => @change.user.nickname) %>
  <%= t(:with_notes_below) %>
  </p>

  <p><%= @change.notes %></p>
<% end %>

<p><%= t(:visit_machine) %><br/><%= link_to(*[machine_url(@machine)]*2) %></p>

<p>--<br>
<%= TravelSupport::Config.setting :email_footer %></p>
