= link_to event_title_line(event), "\#event_details", :data => {:toggle => :collapse}
%blockquote#event_details.collapse
  = show_for event do |e|
    = e.attribute :start_date
    = e.attribute :end_date
    = e.attribute :country do
      = country_label(event.country_code)
    = e.attribute :description
    = e.attribute :url do
      = link_to event.url
