= collapse_link "event_details", event_title_line(event)
%blockquote#event_details.collapse
  = show_for event do |e|
    .row-fluid
      .span6
        = e.attribute :start_date
        = e.attribute :country do
          = country_label(event.country_code)
      .span6
        = e.attribute :end_date
        = e.attribute :url do
          = link_to event.url
    .row-fluid
      .span12
        = e.attribute :description
    - if user_signed_in? && can?(:validate, event)
      .row-fluid
        .span6= e.attribute :validated
        .span6= e.attribute :visa_letters
    .row-fluid
      .span12.text-right
        = goto_link event
