= simple_form_for resource do |f|
  .form-inputs.form-horizontal
    = f.input :name
    = f.input :start_date, :as => :dpicker
    = f.input :end_date, :as => :dpicker
    = f.input :country_code, :as => :country, :input_html => {:autocomplete => "off"}
    = f.input :description, :input_html => {:rows => 3}
    = f.input :url
    - if can? :validate, resource
      = f.input :visa_letters
      = f.input :request_creation_deadline, :as => :dpicker, :with_time => true, :format => :long
      = f.input :reimbursement_creation_deadline, :as => :dpicker, :with_time => true, :format => :long
      = f.input :shipment_type, :collection => @shipment_types, :include_blank => true
      = f.input :validated
    - if can? :read, Budget
      = f.association :budget

  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), collection_path, :class => 'btn'
