- model_class = Event
= content_for :page_header do
  %h1= t('.title', :default => model_class.model_name.human(count: 2))

.navbar
  .navbar-inner
    = link_to t('.new', :default => t("helpers.links.new")), new_resource_path, :class => 'btn btn-primary', :data => { :confirm => t(:new_event_warning) }

    = search_form_for @q, :builder => SimpleForm::FormBuilder, :class => "navbar-form pull-right" do |f|
      - t_start = f.input_field :end_date_gteq, :as => :dpicker, :class => "input-small"
      - t_end = f.input_field :start_date_lteq, :as => :dpicker, :class => "input-small"
      - t_text = f.text_field :name_or_description_cont, :class => "input-small"
      = raw(t(:events_search, :start => t_start, :end => t_end, :text => t_text))
      = f.submit t(:search), :class => "btn"
      = link_to t(:reset_search), collection_path(:q => {:end_date_gteq => '0'}), :class => "btn"

%table.table.table-striped.events
  %thead
    %tr
      %th= sort_link(@q, :name)
      %th= sort_link(@q, :country_code)
      %th= sort_link(@q, :start_date)
      %th= sort_link(@q, :end_date)
      %th
  %tbody
    - collection.each do |r|
      %tr
        %td= link_to r.name, resource_path(r)
        %td= country_label(r.country_code)
        %td= l(r.start_date)
        %td= l(r.end_date)
        %td= link_to t(:apply), new_request_path(:event_id => r), :class => 'btn btn-mini'

= paginate collection
