- model_class = Event
= content_for :page_header do
  %h1= t('.title', :default => model_class.model_name.human(count: 2))

%nav.navbar.navbar-default.nav-tsp
  .container-fluid
    .navbar-header
      = link_to t('.new', :default => t("helpers.links.new")), new_event_path, :class => 'navbar-btn btn btn-primary', :data => { :confirm => t(:new_event_warning) }
    .nav.navbar-right
      = search_form_for @q, :builder => SimpleForm::FormBuilder, :class => "navbar-form" do |f|
        - t_start = f.input_field :end_date_gteq, :as => :dpicker, class:'form-control input-sm inpt-w'
        - t_end = f.input_field :start_date_lteq, :as => :dpicker, class:'form-control input-sm inpt-w'
        - t_text = f.text_field :name_or_description_cont, class:'form-control input-sm inpt-w'
        = raw(t(:events_search, :start => t_start, :end => t_end, :text => t_text))
        = f.submit t(:search), :class => "btn btn-default"
        = link_to t(:reset_search), events_path(:q => {:end_date_gteq => '0'}), :class => "btn btn-default"
   
%table.table.table-striped.events
  %thead
    %tr
      %th= sort_link(@q, :name)
      %th= sort_link(@q, :country_code)
      %th= sort_link(@q, :start_date)
      %th= sort_link(@q, :end_date)
      - if enabled? 'shipments'
        %th= sort_link(@q, :shipment_type)
      %th= t(:ask_for)
  %tbody
    - @index.each do |r|
      %tr
        %td= link_to r.name, event_path(r)
        %td= country_label(r.country_code)
        %td= l(r.start_date)
        %td= l(r.end_date)
        - if enabled? 'shipments'
          %td= r.shipment_type
        %td
          - if r.accepting_requests?
            = link_to t(:new_travel), new_travel_sponsorship_path(:event_id => r), :class => 'btn btn-default btn-xs'
          - if r.accepting_shipments?
            = link_to t(:new_shipment), new_shipment_path(:event_id => r), :class => 'btn btn-default btn-xs'

= paginate @index
