%tr.nested-fields
  %td
    = f.input :subject, :label => false
  %td
    = f.input :description, :label => false
  %td
    = f.text_field :total_amount, :class => 'input-mini'
    = f.text_field :total_currency, :class => 'input-mini'
  %td
    = number_to_currency(f.object.approved_amount, :unit => f.object.approved_currency)
  %td
    = link_to_remove_association t(:cocoon_remove), f
