%strong.label= Request.human_attribute_name(:event)
%br
= render resource.event
- unless resource.errors[:event_id].empty?
  %div.alert.alert-error= resource.errors[:event_id].join("<br>")

%strong.label= t(:general_info)
%br
= simple_form_for resource do |f|
  .form-inputs.form-horizontal
    = f.hidden_field :event_id
    = f.input :visa_letter if resource.visa_letter_allowed?
    = f.input :description, :input_html => {:rows => 3}
  .form-inputs.form-inline
    %strong.label= Request.human_attribute_name(:expenses)
    - if !resource.errors[:expenses].empty?
      .alert.alert-inline.alert-error= resource.expenses.map {|e| e.errors.full_messages}.uniq.join("; ")
    - delete_me = resource.expenses.build
    - can_create_expense = can?(:create, delete_me)
    - resource.expenses.delete(delete_me)
    %table.table.table-condensed
      %thead
        %tr
          %th= RequestExpense.human_attribute_name(:subject)
          %th= RequestExpense.human_attribute_name(:description)
          %th= t(:estimated_amount_header)
          %th= RequestExpense.human_attribute_name(:approved_amount)
          %th

      %tbody#expenses
        = f.simple_fields_for :expenses do |expense|
          = render 'expense_fields', :f => expense
        %tr#expenses_links
          %td= link_to_add_association t(:add_expense), f, :expenses, "data-association-insertion-node" => "#expenses_links"

  .form-actions
    = f.button :submit, :class => 'btn-primary'
    - if resource.new_record?
      = link_to t('.cancel', :default => t("helpers.links.cancel")), requests_path, :class => 'btn'
    - else
      = link_to t('.cancel', :default => t("helpers.links.cancel")), resource, :class => 'btn'
