= collapse_link "request_details"
= timestamped_state(request)
= icon_to "share-alt", request, :title => t(:goto)
%blockquote#request_details.collapse
  = show_for request do |r|
    = r.attribute :description
    = r.attribute :history do
      %ul
        = render @request.transitions

