= link_to timestamped_state(request), "\#request_details", :data => {:toggle => :collapse}
%blockquote#request_details.collapse
  = show_for request do |r|
    = r.attribute :description
    = r.attribute :requester_notes
    = r.attribute :tsp_notes
