- model_class = Request
= content_for :page_header, t('.title', :default => model_class.model_name.human(count: 2))

.navbar
  .navbar-inner
    = search_form_for @q, :class => "navbar-form pull-right" do |f|
      = f.select :state_eq, request_states_collection, {:include_blank => true}, :class => "input-medium"
      = f.submit t(:search), :class => "btn"
      = link_to t(:reset_search), collection_path, :class => "btn"

%table.table.table-striped.requests
  %thead
    %tr
      %th= sort_link(@q, :id)
      %th= model_class.human_attribute_name(:user)
      %th= model_class.human_attribute_name(:event)
      %th= model_class.human_attribute_name(:estimated_sum)
      %th= model_class.human_attribute_name(:approved_sum)
      %th= sort_link(@q, :state)
  %tbody
    - collection.each do |request|
      %tr
        %td= link_to request.id, request_path(request)
        %td= request.user.try(:title)
        %td= request.event.try(:name)
        %td= expenses_sum(request, :estimated)
        %td= expenses_sum(request, :approved)
        %td= timestamped_state(request)

= paginate collection
