- model_class = Request
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize

.navbar
  .navbar-inner
    = link_to t('.new', :default => t("helpers.links.new")), new_resource_path, :class => 'btn btn-primary'

    = search_form_for @q, :class => "navbar-form pull-right" do |f|
      = f.select :state_eq, request_states_collection, :include_blank => true
      = f.submit t(:search), :class => "btn"
      = link_to t(:reset_search), collection_path, :class => "btn"

%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:user)
      %th= model_class.human_attribute_name(:event)
      %th= model_class.human_attribute_name(:total_sum)
      %th= model_class.human_attribute_name(:approved_sum)
      %th= model_class.human_attribute_name(:state)
  %tbody
    - collection.each do |request|
      %tr
        %td= link_to request.id, request_path(request)
        %td= request.user.try(:title)
        %td= request.event.try(:name)
        %td= request_sum(request, :total)
        %td= request_sum(request, :approved)
        %td= timestamped_state(request)

= paginate collection
