- model_class = Request
.page-header
  %h1=t '.title', :default => model_class.model_name.human

%p
  %strong= model_class.human_attribute_name(:state) + ':'
  %br
  = @request.state
%p
  %strong= model_class.human_attribute_name(:user_id) + ':'
  %br
  = @request.user_id
%p
  %strong= model_class.human_attribute_name(:event_id) + ':'
  %br
  = @request.event_id

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), requests_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_request_path(@request), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), request_path(@request), :method => "delete", :data => { :confirm => t("helpers.links.confirm") }, :class => 'btn btn-danger'
  = link_to t("activerecord.state_machines.events.submit"), request_submissions_path(@request), :method => :post, :data => { :confirm => t("helpers.links.confirm") }, :class => 'btn'
