.page-header
  %h1= current_user.nickname
= render 'profile_menu'
= simple_form_for @profile, :url => user_profile_path, :as => :user do |f|
  .row-fluid
    .span6
      = f.input :full_name
      = f.input :country_code, :as => :country
      = f.input :location
      = f.input :passport
      = f.input :alternate_id_document
    .span6
      = f.input :birthday, :as => :dpicker
      = f.input :phone_number, :as => :string
      = f.input :second_phone_number, :as => :string
      = f.input :website, :as => :url
      = f.input :blog, :as => :url
  .row-fluid
    .span12
      = f.input :description, :as => :text, :input_html => {:rows => 2, :class => "input-xlarge"}
  .row-fluid
    .span12
      .form-actions
        = f.button :submit, :class => 'btn-primary'
