= content_for :page_header do
	%h1= current_user.nickname

= render 'profile_menu'
%br
= simple_form_for(@user, :as => 'user', :url => update_password_user_profile_path, :html => { :method => :put, :class => 'form-horizontal' }, wrapper: :horizontal_form) do |f|
	.col-md-4
		= f.hidden_field :reset_password_token
		= f.error_notification
		= f.input :password
		= f.input :password_confirmation
	.well.col-md-12
		= f.button :submit, t(:change_password), :class => 'btn btn-primary col-md-offset-1'

