-label = t(:send_reimbursement_acceptance)
.modal-dialog{:role => "document"}
  .modal-content
    .modal-header
      %button.close{:type => "button", :data => {:dismiss => "modal"}} &times;
      %h3= label
      %div.alert.alert-warning= t(:reimbursement_acceptance_info, :print_url => request_reimbursement_path(@request, :format => :pdf)).html_safe
    = form_tag request_reimbursement_acceptance_path(@request), :method => :post, :multipart => true do
      .form-inputs.form-horizontal.modal-body
        .form-group.required
          %label.required.col-md-4= Reimbursement.human_attribute_name(:acceptance_file)
          .col-md-4
            = file_field_tag "acceptance[file]", :class => "required"

      .modal-footer.well
        = link_to t("helpers.links.back"), "#", :data => {:dismiss => "modal"}, :class => 'btn btn-default'
        = submit_tag label, :class => 'btn btn-primary'

