.modal-header
  %button.close{:type => "button", :data => {:dismiss => "modal"}} &times;
  %h3= t("helpers.titles.new", :model => StateAdjustment.model_name.human)
= simple_form_for @state_adjustment, :url => @back_path + "/state_adjustments", :remote => true do |f|
  .form-inputs.form-horizontal.modal-body
    = f.input :to, :collection => @state_names
    = f.input :notes, :as => :text, :input_html => {:rows => 3, :class => "input-xlarge"}

  .modal-footer
    = link_to t("helpers.links.back"), "#", :data => {:dismiss => "modal"}, :class => 'btn'
    = f.button :submit, :class => 'btn-primary'
