= form_tag(TravelSupportProgram::Config.setting(:opensuse_login_page), :method => :post, :id => 'login_form', :enctype => 'application/x-www-form-urlencoded') do
  %p
    = hidden_field_tag(:url, "#{@return_to_host}#{@return_to_path}")
    = hidden_field_tag(:context, 'default')
    = hidden_field_tag(:proxypath, 'reserve')
    = hidden_field_tag(:message, 'Please log in')
    = hidden_field_tag(:return_to_path, @return_to_path)
    = label_tag(:username, 'Username')
    = text_field_tag(:username, '')
  %p
    = label_tag(:password, 'Password')
    = password_field_tag(:password, '')
  %p= submit_tag('Login', :onclick => 'fillEmptyFields();')
