.content
  .sign_in
    %h2= t(:sign_in)

    = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => 'form-horizontal'}, wrapper: :horizontal_form) do |f|
      .inputs.col-md-4
        = f.input :email, :required => false, :autofocus => true
        = f.input :password, :required => false
        .col-sm-offset-4
          = f.input :remember_me,:as => :boolean if devise_mapping.rememberable?
      .actions.col-md-12
        = f.button :submit, t(:sign_in)
      .links.col-md-12
        = render :partial => "devise/shared/links"
