-label = t("activerecord.state_machines.events.#{@state_transition[:state_event]}")
.modal-dialog{:role => "document"}
  .modal-content
    .modal-header
      %button.close{:type => "button", :data => {:dismiss => "modal"}} &times;
      %h3= label

    = bootstrap_flash_messages

    =simple_form_for(@state_transition, :url => @back_path + "/state_transitions", :remote => true, html: { class: 'form-horizontal' }, wrapper: :horizontal_form) do |f|
      .modal-body
        = f.hidden_field :state_event
        = f.input :notes, :as => :text, :input_html => {:rows => 3, :class => 'input-lg'}

      .modal-footer
        = link_to t("helpers.links.back"), "#", :data => {:dismiss => "modal"}, :class => 'btn btn-default'
        = f.button :submit, :value => label, :class => 'btn btn-primary'

:javascript
  $('.modal-backdrop').remove();
