<p>
<%= t(:new_final_note_title_line,
          :date => l(@final_note.created_at, :format => :short),
          :machine => @machine.title,
          :user => @final_note.user.nickname) %>
</p>

<p><%= @final_note.body %></p>

<p><%= t(:visit_machine) %><br/><%= link_to(*[machine_url(@machine)]*2) %></p>

<p>--<br>
<%= TravelSupport::Config.setting :email_footer %></p>
