.page-header
  %h1=t "activerecord.state_machines.events.approve"

= show_for @reimbursement do |r|
  = r.association :event do
    = render @reimbursement.event
  = r.association :user do
    = render @reimbursement.user
  = r.association :request do
    = render @request
  = r.attribute :state do
    = timestamped_state(@reimbursement)
  = r.attribute :description
  = r.attribute :requester_notes
  = r.association :attachments do
    = reimbursement_attachments(@reimbursement)

= simple_form_for @reimbursement, :url => request_reimbursement_transitions_path(@request, :transition => {:action => "approve"}), :html => { :method => :post } do |f|
  .form-inputs.form-horizontal
    = f.input :tsp_notes, :input_html => {:rows => 3}
  .form-inputs.form-inline
    %p.label= Reimbursement.human_attribute_name(:expenses)
    - if !@reimbursement.errors[:"request.expenses"].empty?
      .error= @reimbursement.expenses.map {|e| e.errors.full_messages}.uniq.join("; ")
    %table.table.table-condensed
      %thead
        %tr
          %th= RequestExpense.human_attribute_name(:subject)
          %th= RequestExpense.human_attribute_name(:description)
          %th= RequestExpense.human_attribute_name(:estimated_amount)
          %th= RequestExpense.human_attribute_name(:approved_amount)
          %th= RequestExpense.human_attribute_name(:total_amount)
          %th= RequestExpense.human_attribute_name(:authorized_amount)
      %tbody#expenses
        = f.simple_fields_for :request do |request|
          = request.simple_fields_for :expenses do |e|
            - expense = e.object
            %tr
              %td= expense.subject
              %td= expense.description
              %td= number_to_currency(expense.estimated_amount, :unit => expense.estimated_currency)
              %td= number_to_currency(expense.approved_amount, :unit => expense.approved_currency)
              %td= number_to_currency(expense.total_amount, :unit => expense.total_currency)
              %td= number_to_currency(e.text_field(:authorized_amount, :class => 'input-mini'), :unit => expense.authorized_currency)

  .form-actions
    = f.button :submit, t("activerecord.state_machines.events.approve"), :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), request_reimbursement_path(@request), :class => 'btn'
