%tr.nested-fields
  %td
    = f.input :subject, :label => false, :collection => @subjects, :include_blank => false
  %td
    = f.input :description, :label => false
  %td
    = f.text_field :estimated_amount, class: 'form-control'
    = f.select :estimated_currency, currencies_for_select(:estimated, f.object.event), {}, class: 'form-control'
  %td= number_to_currency(f.object.approved_amount, :unit => f.object.approved_currency)
  %td
    = link_to_remove_association t(:cocoon_remove), f
