.modal-header
  %button.close{:type => "button", :data => {:dismiss => "modal"}} &times;
  %h3= t(:create_final_note)
= bootstrap_flash_messages
= simple_form_for @final_note, :url => @back_path + "/final_notes", :remote => true do |f|
  .form-inputs.form-horizontal.modal-body
    .row-fluid
      = f.text_area :body, :rows => 4, :class => "span12"

  .modal-footer
    = link_to t("helpers.links.back"), "#", :data => {:dismiss => "modal"}, :class => 'btn'
    = f.button :submit, :class => 'btn-primary'
