= collapse_link "reimbursement_details", reimbursement.label
%blockquote#reimbursement_details.collapse
  = show_for reimbursement do |r|
    = r.attribute :state do
      = timestamped_state(reimbursement)
    = r.attribute :description
  %div= goto_link request_reimbursement_path(reimbursement.request)
