- model_class = Reimbursement
= content_for :page_header do
  .row-fluid
    .span7
      %h1= t('.title', :default => model_class.model_name.human) + " #{resource.label}"
    .span5
      %br
      = state_change_links(resource)
      - if can? :create, resource.payments.build
        = check_request_link(resource)
      - if can? :edit, resource
        = link_to t('.edit', :default => t("helpers.links.edit")), edit_resource_path, :class => 'btn' 

= show_for resource do |r|
  .row-fluid
    .span6
      = r.attribute :state do
        = state_info(r.object)
        %div.alert-info= resource.human_state_guide
      = r.attribute :acceptance_file do
        = reimbursement_acceptance_file(resource)
    .span6
      = r.association :event do
        = render resource.event
      = r.association :user do
        = render resource.user
      = r.attribute :request do
        = render resource.request
      = r.association :bank_account do
        - if resource.bank_account.nil?
          = t("show_for.blank")
        - else
        = render resource.bank_account
  .row-fluid
    .span12
      = r.attribute :description

      = r.association :links do
        = reimbursement_links(resource)

      = r.association :attachments do
        = reimbursement_attachments(resource)

  %strong.label= TravelSponsorship.human_attribute_name(:expenses)
  %table.table.table-condensed
    %thead#expenses_head
      %tr
        %th= RequestExpense.human_attribute_name(:subject)
        %th= RequestExpense.human_attribute_name(:description)
        %th= RequestExpense.human_attribute_name(:estimated_amount)
        %th= RequestExpense.human_attribute_name(:approved_amount)
        %th= RequestExpense.human_attribute_name(:total_amount)
        %th= RequestExpense.human_attribute_name(:authorized_amount)
    %tbody#expenses
      - @request.expenses.each do |expense|
        %tr
          %td.subject= expense.subject
          %td.description= expense.description
          %td.estimated= number_to_currency(expense.estimated_amount, :unit => expense.estimated_currency)
          %td.approved= number_to_currency(expense.approved_amount, :unit => expense.approved_currency)
          %td.total= number_to_currency(expense.total_amount, :unit => expense.total_currency)
          %td.authorized= number_to_currency(expense.authorized_amount, :unit => expense.authorized_currency)

  = r.association :payments do
    = reimbursement_payments(resource)
    - if can? :create, resource.payments.build
      = link_to t(:new_payment), new_request_reimbursement_payment_path(resource.request), :class => 'btn btn-small'

  = r.attribute :history do
    = render :partial => "history"
    - if can?(:create, resource.comments.build)
      = link_to(t(:create_comment), resource_path + "/comments/new.js", :remote => true, :class => 'btn btn-small')
