- model_class = Reimbursement
= content_for :page_header do
  .row
    .col-md-7
      %h1= t('.title', :default => model_class.model_name.human) + " #{@reimbursement.label}"
    .col-md-5
      %br
      = state_change_links(@reimbursement)
      - if can? :create, @reimbursement.payments.build
        = check_request_link(@reimbursement)
      - if can? :edit, @reimbursement
        = link_to t('.edit', :default => t("helpers.links.edit")), edit_request_reimbursement_path(@request), :class => 'btn btn-default' 

= show_for @reimbursement do |r|
  .row
    .col-md-6
      = r.attribute :state do
        = state_info(r.object)
        %div.alert-info= @reimbursement.human_state_guide
      = r.attribute :acceptance_file do
        = reimbursement_acceptance_file(@reimbursement)
    .col-md-6
      = r.association :event do
        = render @reimbursement.event
      = r.association :user do
        = render @reimbursement.user
      = r.attribute :request do
        = render @reimbursement.request
      = r.association :bank_account do
        - if @reimbursement.bank_account.nil?
          = t("show_for.blank")
        - else
        = render @reimbursement.bank_account
  .row
    .col-md-12
      = r.attribute :description do
        = simple_format(@reimbursement.description)

      = r.association :links do
        = reimbursement_links(@reimbursement)

      = r.association :attachments do
        = reimbursement_attachments(@reimbursement)

  %strong.label.label-default= TravelSponsorship.human_attribute_name(:expenses)
  %table.table.table-condensed
    %thead#expenses_head
      %tr
        %th= RequestExpense.human_attribute_name(:subject)
        %th= RequestExpense.human_attribute_name(:description)
        %th= RequestExpense.human_attribute_name(:estimated_amount)
        %th= RequestExpense.human_attribute_name(:approved_amount)
        %th= RequestExpense.human_attribute_name(:total_amount)
        %th= RequestExpense.human_attribute_name(:authorized_amount)
    %tbody#expenses
      - @request.expenses.each do |expense|
        %tr
          %td.subject= expense.subject
          %td.description= expense.description
          %td.estimated= number_to_currency(expense.estimated_amount, :unit => expense.estimated_currency)
          %td.approved= number_to_currency(expense.approved_amount, :unit => expense.approved_currency)
          %td.total= number_to_currency(expense.total_amount, :unit => expense.total_currency)
          %td.authorized= number_to_currency(expense.authorized_amount, :unit => expense.authorized_currency)

  = r.association :payments do
    = reimbursement_payments(@reimbursement)
    - if can? :create, @reimbursement.payments.build
      = link_to t(:new_payment), new_request_reimbursement_payment_path(@request), :class => 'btn btn-default btn-sm'

  = r.attribute :history do
    = render :partial => "history", locals: { resource: @reimbursement }
    - if can?(:create, @reimbursement.comments.build)
      = link_to(t(:create_comment), request_reimbursement_path(@request) + "/comments/new.js", :remote => true, :class => 'btn btn-default btn-sm')
