- changes = resource.state_changes.newest_first
- if changes.empty?
  = t(:no_state_changes_yet)
- else
  %ul
    = render :partial => "state_changes/state_change", :collection => changes[0,1]
    %li
      = collapse_link "history"
      = t(:oldest_entries)
      %blockquote#history.collapse
        %ul
          = render :partial => "state_changes/state_change", :collection => changes[1..-1]
