- transitions = resource.transitions.newest_first
- if transitions.empty?
  = t(:no_transitions_yet)
- else
  %ul
    = render transitions[0,1]
    %li
      = collapse_link "history"
      = t(:oldest_entries)
      %blockquote#history.collapse
        %ul
          = render transitions[1..-1]
