.row-fluid#subheader
  .span6
    = breadcrumbs
  .span6.text-right
    - if user_signed_in?
      = link_to t(:signed_in_as, :nickname => current_user.nickname), profile_path
      |
      - if user_signed_in_by_ichain?
        = link_to t(:logout), destroy_user_ichain_session_path, :method => :delete
      - else
        = link_to t(:logout), destroy_user_session_path, :method => :delete
    - else
      - if TravelSupportProgram::Config.setting :authentication, :database, :enabled
        = link_to t(:sign_up), new_registration_path(User)
        |
        = link_to t(:login), new_user_session_path
      - if TravelSupportProgram::Config.setting :authentication, :ichain, :enabled
        = link_to t(:sign_up), new_ichain_registration_path(User)
        |
        = link_to t(:login), new_user_ichain_session_path, :id => "login-trigger"
        #login-form
          =render "devise/ichain_sessions/form"
          %p.slim-footer= link_to('Cancel', '#', id: 'close-login')
