.row-fluid#subheader
  .span6
  .span6.text-right
    - if user_signed_in?
      = link_to t(:signed_in_as, :nickname => current_user.nickname), ""
      |
      = link_to t(:logout), opensuse_logout_url
    - else
      = link_to t(:sign_up), opensuse_register_url
      |
      = link_to t(:login), new_user_session_path, :id => "login-trigger"
      #login-form
        =render "devise/sessions/new-opensuse"
        %p.slim-footer= link_to('Cancel', '#', id: 'close-login')
